# Ignore log files
logs/
*.log

# Ignore compiled Python files
.venv/
venv/
__pycache__/
*.pyc

# Ignore model files (if they are large)
model/
*.

# Ignore database files

# Ignore other files
run_fetch.sh
